.body {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    background-image: url("https://previews.123rf.com/images/petitnuage/petitnuage1701/petitnuage170100047/72442689-feuille-morte-de-terre-sol-for%C3%AAt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    .mushrooms {
        display: flex;
        flex-direction: row;
        bottom: 12vh;
        position: absolute;
        width: 100%;
        justify-content: center;
        .space {
            flex: 1 1 auto;
        }
        .mush {
            width: 15vw;
            height: 15vw;
            img {
                width: 100%;
            }
        }
        .mush:hover {
            border-radius: 50%;
            box-shadow: 0px -30px 20px rgba(255, 217, 0, 0.5);
            cursor: pointer;
        }
    }
}
