<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../assets/grandArbreMain.jpg" alt="Random first slide">
                        </div>
                        <div class="carousel-caption">
                            <h3>Il était une fois Le Grand Arbre...</h3>
                            <p>This carousel uses customized default values.This carousel uses customized default values.This This carousel uses customized default values.This carousel uses customized default values.This carousel uses customized default
                                values. This carousel uses customized default values.This carousel uses customized default values. This carousel uses customized default values.This carousel uses customized default values.This carousel uses customized
                                default values.
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../assets/alt.jpg">
                        </div>
                        <div class="carousel-caption">
                            <h3>...Mais Le Grand Arbre est malade...</h3>
                            <p>
                                Le Grand Arbre pourtant si fort et robuste a attrapé un jour une mystérieuse maladie. Ses feuilles sont jaunes avant l'automne, et tombent avant l'hiver.
                                <br> C'est une étrange maladie d'origine inconnue, que même les meilleurs médecins et alchimistes n'ont pas réussi à soigner.
                                <br> Les compagnons du Grand Arbre ainsi que les habitants de la forêt sont tous perdus face à cette inquiétante nouvelle...
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../assets/alt.jpg">
                        </div>
                        <div class="carousel-caption">
                            <h3>...Mais un beau jour... </h3>
                            <p>Un jour de chance, un lutin nommé Tic, parcourant la forêt comme à son habitude, aperçu un groupe d'humains au travers des arbustes.
                                <br> Il s'approcha lentement et... ce groupe était une peuplade de jeunes scouts Louveteaux Jeannettes !
                                <br>Tic eut alors une lueur d'espoir ! Il partit rencontrer la peuplade, il leur raconta son histoire, et leur demanda s'ils voulaient bien accompagner et l'aider à guérir l'arbre.
                            </p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper">
                            <img src="../../assets/alt.jpg">
                        </div>
                        <div class="carousel-caption">
                            <h3>Le Grand Arbre, ainsi que toutes la forêt à besoin de ton aide !</h3>
                            <br><br><br>
                            <h3> Acceptes-tu de les aider ?</h3>
                            <br><br><br>
                            <button class="btn btn-success btn-block" routerLink="/game">
                Je suis prêt pour les aider !</button>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

</body>
