<div class="body" [style]="bgurl">
    <table>
        <tr>
            <td></td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <p>Les marécages...</p>
                        <p>Cette zone est très dangereuse, à cause de l'eau et de la pluie, la boue engloutie tout ce qui passe...</p>
                        <p>Il va être dur d'avancer dans cet environnement.</p>
                        <button class="btn btn-block btn-dark" routerLink="../les-trois-chemins">Faire marche arrière...</button>

                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>