<div class="body">
    <table>
        <tr>
            <td>
                <img src="https://lh3.googleusercontent.com/proxy/9RNdRQD8AbpKO3ZO78agYu8xNuxEG-IBAE3E_xhYtI-pz5aTpsQAqeJtAburws2VTJgKBA62ypzfMQrqvWJCsFQq2FXGTjLRx8vrtlH0k2sbu0X6RanW_7I">
            </td>
            <td>
                <button class="btn btn-dark btn-block">Bonjour Madame Ecureuil...</button>
                <p></p>
                <div class="card">
                    <div class="card-body"></div>

                </div>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
