<body>
    <div class="container">
        <h1>A la recherche de Coco l'écureuil</h1>
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <input class="form-control" placeholder="Mot de passe">
                <br>
                <button class="btn btn-success btn-block" routerLink="/prologue">Mener l'enquête</button>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</body>
