<div class="body">
    <table>
        <tr>
            <td></td>
            <td>
                <div class="card">
                    <div class="card-body">
                        <p>Oula, il n'y a que des ronces et des orties par ici.</p>
                        <p>Il va être très dur d'avancer dans ce chemin...</p>
                        <button class="btn btn-block btn-dark" routerLink="../les-trois-chemins">Faire marche arrière...</button>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>