<div class="body">
    <table>
        <tr>
            <td>
                <img [src]="url+ '/assets/sitka.png'">
            </td>
            <td>
                <div class="dialogs">
                    <button *ngIf="sitkaLevel==0" class="btn btn-block btn-dark" (click)="sitkaDialog()" placement="right">
            {{dialogLevel===0?questions[dialogLevel]:questions[dialogLevel-1]}}
          </button>
                    <button *ngIf="sitkaLevel==1" class="btn btn-block btn-dark" (click)="sitkaMushDialog()" placement="right">
            CHAMPIGNONS
          </button>
                </div>
                <p></p>
                <div *ngIf="dialog.length>0" class="card">
                    <div class="card-body">
                        <p *ngFor="let d of dialog">
                            {{d}}
                        </p>
                        <button *ngIf="dialogLevel===1" class="btn btn-block btn-dark " (click)="askForCoco()">
              {{questions[dialogLevel]}}
            </button>
                        <button *ngIf="dialogLevel===2" class="btn btn-block btn-dark " (click)="goForCourse()">
              {{questions[dialogLevel]}}
            </button>
                        <button *ngIf="dialogLevel===3" class="btn btn-block btn-dark " (click)="startQuest()">
              {{questions[dialogLevel]}}
            </button>
                        <button *ngIf="dialogLevel===4" class="btn btn-block btn-primary " routerLink="../le-bon-champignon">
              {{questions[dialogLevel]}}
            </button>
                    </div>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
