.body {
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
}

.quest {
    display: flex;
    flex-direction: row;
}

table {
    height: 100%;
    width: 100%;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: larger;
}

td {
    min-width: 33vw;
    width: 100%;
}

.dialogs {
    display: flex;
    flex-direction: column;
}

img {
    width: 30vw;
    position: absolute;
    bottom: 13vh;
    left: 0;
}